/***************Enleve les effets chrome sur les input/button********/
input[type=image]:focus {outline:0;}
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent; /* For some Androids */ 
} 
/************************************/
body{
	margin: 0;	
	background: #a0d8ef;
}

/***************Section Fieldset********************/
fieldset{
	border-radius: 5px;
	border: 1px solid teal;
	display: block;
    text-transform: capitalize;
    min-height: 96vh;
}

legend{
    color: royalblue;
    font-weight: bold;
}



#field_User{
    display: none;
}


/***********Section Icon Switch***************************/
#bt_switch{
    width: 2.5rem;
    height: 2.5rem;

    position: fixed;
    top: 2vh;
    right: 1vw;
}

/***********Section Icon User/Attestation**********************/

#divIcon{
    position: fixed;
    bottom: 2vh;
    right: 1vw;
}

#divIcon input{
    width: 5rem;
    height: 5rem;
}

/***********Section Div No User********************/
.div_NoUser{
    text-align: center;
    color: royalblue;
}

.divAjouter{
	text-align: center;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
	border: ridge 5px teal;
	margin: auto;
	background-color: lightslategray;
}

.divAjouter:hover{
	background: yellowgreen;
}

.bt_newUser2{
	width: 20vw;
	height: auto;
	padding-top: 3vw;
	padding-left: 1vw;
}

/********************************************************/
