/***************Enleve les effets chrome sur les input/button********/
input[type=image]:focus {outline:0;}
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent; /* For some Androids */ 
} 
/************************************/
body{
	margin: 0;	
	background: #a0d8ef;
}

/***************Section Fieldset********************/
fieldset{
	border-radius: 5px;
	border: 1px solid teal;
    text-transform: capitalize;
    min-height: 50vh;
    max-height: 87vh;
    overflow-y: auto;
    padding-right: 1vw;
    padding-left: 1vw;
}

legend{
    color: royalblue;
    font-weight: bold;
}

/***********Barre de Menu**********************/
#divIcon{
    position: fixed;
    bottom: 0vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.1);
}

#divIcon input{
    width: 4rem;
    height: 4rem;
}

/***********Section Div No User********************/
#div_NoUser{
    text-align: center;
    color: royalblue;
}


#divNewUser{
	text-align: center;
	height: 25vw;
	width: 25vw;
	border-radius: 50%;
	border: ridge 5px teal;
	margin: auto;
	margin-top: 1vh;
	background-color: lightslategray;
}

#divNewUser:hover{
	background: yellowgreen;
}


#bt_newUser2{
	width: 20vw;
	height: auto;
	padding-top: 2vw;
	padding-left: 1vw;
}




