body{
	margin: 0;	
	background: #a0d8ef;
}


h1{
	border-radius: 10px;
	text-align: center;
	margin: auto;
	font-style: italic;
	color: teal;
	font-size: 1.5rem;
}

fieldset{
	border-radius: 5px;
	border: 1px solid teal;
	display: block;
	padding-top: 0;
}

legend{
	color: royalblue;
	font-weight: bold;
}

form{
	text-transform: capitalize;
	line-height: 150%;
}

input{
	-webkit-box-sizing: border-box; /* Pour les anciennes versions des navigateurs WebKit */
     -moz-box-sizing: border-box; /* Pour tous les navigateurs Gecko */
		  box-sizing: border-box;
		  width: 100%;

	border-radius: 5px;
	border:none;
	height: 1.3rem;
	padding-left: 0.5rem;
}


input[type=number] {
    -moz-appearance: textfield;
}
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.output a {
    display: block;
    text-decoration: none;
	color: royalblue;
	text-align: left;
}


.output a:hover {
	background: wheat;
}

#divAjouter{
	text-align: center;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
	border: ridge 5px teal;
	margin: auto;
	background-color: lightslategray;
}

#divAjouter:hover{
	background: yellowgreen;
}


#ajouter{
	width: 20vw;
	height: auto;
	padding-top: 3vw;
	padding-left: 1vw;
}



